"*":
  "atom-beautify":
    _analyticsUserId: "666e837d-bf1e-4d7a-a469-71677e8ac0cc"
  core:
    disabledPackages: [
      "ide-flow"
    ]
    projectHome: "/Users/davidvuong/workspace"
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "8991e331-2ae6-9155-bc53-c5a53eb5a626"
  minimap: {}
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
