"*":
  core:
    projectHome: "/Users/davidvuong/workspace"
  editor:
    fontSize: 12
    invisibles: {}
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "8991e331-2ae6-9155-bc53-c5a53eb5a626"
  minimap: {}
  welcome:
    showOnStartup: false
